#modalCreatePostlabel {
	display: block;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color: slateblue;
	border-radius: 2px;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
}
.preview-img{
	width: 100%;
}
#modalCreatePost label:hover {
	background-color: cornflowerblue;
}

#modalCreatePost label:active {
	background-color: mediumaquamarine;
}

#modalCreatePost input.uploading {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#uploading span.removeImg{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
}
#uploading span.removeImg:hover{
	color: #ccc;
}
.uploading-preview__item{
	position: relative;
	margin-bottom: 10px;
}