.avatar .box-avatar img{
    width: 200px;
    object-fit: cover;
}
.avatar{
    min-width: 50px;
    min-height: 50px;
    width: 189px;
    height: 184px;
    overflow: hidden;
    border-radius: 50%;
}

form.form-info{
    max-width: 65%;

}

form.form-info .form-group{
    column-gap: 30px;
}

input.form-control-sm{
    width: 100%;
}

.form-group-items{
    width: 100%;
}

.tab button{
    padding: 5px 10px ;
    border: 1px solid #ccc;
}
.tab button.active{
    background: #007bff;
    color: #fff;
}
.tab button:focus{
    border: none;
}