.content-profile__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.content-profile__img img{
    width: 100%;
    object-fit: contain;
}
.content-stories{
    border-bottom: 1px solid #ccc;
}
.count-follower, .count-following{
    cursor: pointer;
}
