.content-gallery .gallery__item:hover .gallery__modal-backdrop {
    display: flex !important;
}
.gallery__items {
    column-gap: 20px;
    flex-wrap:wrap;
}

.gallery__item {
    width: 29%;
    height: 250px;
    position: relative;
    cursor: pointer;
    margin-bottom:20px;
}
.gallery__item div{
    height: 100%;
}
.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__modal-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #3333336b;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-backdrop__box {
    display: flex;
    align-items: center;
}

#modalCreatePostlabel {
	display: block;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color: slateblue;
	border-radius: 2px;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
}
.preview-img{
	width: 100%;
}
#modalCreatePost label:hover {
	background-color: cornflowerblue;
}

#modalCreatePost label:active {
	background-color: mediumaquamarine;
}

#modalCreatePost input.uploading {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#uploading span.removeImg{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
}
#uploading span.removeImg:hover{
	color: #ccc;
}
.uploading-preview__item{
	position: relative;
	margin-bottom: 10px;
}

.create-posts__preview-items{
    display: flex;
    flex-wrap: wrap;
}
.uploading-preview__item{
    width: 30%;
}


/* post detail */
.post-detail{
    gap: 30px;
}
.slider-post-wrapper{
    width: 70%;
}


